<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="student" class="org.example.Student" autowire="byType">

        <property name="name" value="Mohd Sameer"/>
        <property name="com">
            <bean id="com1" class="org.example.Laptop" primary="true" lazy-init="true">
            </bean>
        </property>
        <!-- With Values and ref -->
        <!--<constructor-arg ref="laptop"/>-->
        <!--<constructor-arg value="Mohd Sameer From Constructor"/>-->

        <!-- With Index -->
        <!--<constructor-arg index="0" ref="laptop"/>-->
        <!--<constructor-arg index="1" value="Mohd Sameer From Constructor"/>-->

        <!--Name-->
        <!--<constructor-arg name="lap" ref="laptop"/>-->
        <!--<constructor-arg name="name" value="Mohd Sameer From Constructor"/>-->
    </bean>
    <!--<bean id="com1" class="org.example.Laptop" primary="true" lazy-init="true">-->
    <!--</bean>-->
    <bean class="org.example.Desktop" lazy-init="true">
    </bean>
</beans>